* {
    margin: 0px;
    padding: 0px;
}

header {
background-color: yellow;
height: 100px;
width: 100%;
}
        
#caja2 {
float: right;
background-color:red;
height: 310px;
width: 80%;
}

#caja {
float: right;
background-color: green;
height: 310px;
width: 80%;
text-align: end;
}


aside {
float: left;
background-color:rgb(68, 187, 226);
height: 620px;
width: 20%;
float: none;
}